{% load static %}
<!-- Scroll To Top -->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

	<i src="{% static 'js/jquery.js' %}"></i>
	<i src="{% static 'js/popper.min.js' %}"></i>
	<i src="{% static 'js/bootstrap.min.js' %}"></i>
	<i src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></i>
	<i src="{% static 'js/jquery.fancybox.js' %}"></i>
	<i src="{% static 'js/appear.js' %}"></i>
	<i src="{% static 'js/wow.js' %}"></i>
	<i src="{% static 'js/parallax.min.js' %}"></i>
	<i src="{% static 'js/tilt.jquery.min.js' %}"></i>
	<i src="{% static 'js/jquery.paroller.min.js' %}"></i>
	<i src="{% static 'js/swiper.min.js' %}"></i>
	<i src="{% static 'js/validate.js' %}"></i>
	<i src="{% static 'js/jquery-ui.js' %}"></i>
	<i src="{% static 'js/script.js' %}"></i>