
{% load static %}
<!-- Testimonial Section -->
		<section class="testimonial-section">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">testimonial</div>
					<h2>2,500+ Happy clients</h2>
				</div>
				<div class="testimonial-carousel">
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<!-- Testimonial Block -->
							<div class="testimonial-block">
								<div class="inner-box">
									<div class="content">
										<div class="author-image">
											<img src="{% static 'images/resource/author-1.jpg' %}" alt="" />
										</div>
										<div class="quote-icon icon_quotations"></div>
										<div class="author">Adam Stone <span>/ CEO at Google INC</span></div>
										<div class="text">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. <br> at magna akal
											semperFusce commodo molestie luctus.Lorem ipsum <br> Dolor tusima olatiup.</div>
									</div>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<!-- Testimonial Block -->
							<div class="testimonial-block">
								<div class="inner-box">
									<div class="content">
										<div class="author-image">
											<img src="{% static 'images/resource/author-2.jpg' %}" alt="" />
										</div>
										<div class="quote-icon icon_quotations"></div>
										<div class="author">Anabella Kleva <span>/ Managerment at Envato</span></div>
										<div class="text">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. <br> at magna akal
											semperFusce commodo molestie luctus.Lorem ipsum <br> Dolor tusima olatiup aculis sed semper sit
											ame</div>
									</div>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<!-- Testimonial Block -->
							<div class="testimonial-block">
								<div class="inner-box">
									<div class="content">
										<div class="author-image">
											<img src="{% static 'images/resource/author-1.jpg' %}" alt="" />
										</div>
										<div class="quote-icon icon_quotations"></div>
										<div class="author">Adam Stone <span>/ CEO at Google INC</span></div>
										<div class="text">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. <br> at magna akal
											semperFusce commodo molestie luctus.Lorem ipsum <br> Dolor tusima olatiup.</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>
		<!-- End Testimonial Section -->